@import url('../fonts/fonts.css');

* {
    font-size: 20px;
    font-weight: 400;

    font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
    width: 1100px;
    margin: 0 auto;
}

button {
    font: inherit;
}

.header {
    height: 293px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    max-width: 240px;
    margin-left: 134px;
    margin-right: 50px;

    font-style: normal;
    justify-self: end;
}

.logo-link {
    width: 148px;
    height: 105px;
}

.main-navigation a {
    color: black;
}

.navigation-list {
    gap: 26px;
    margin-left: 50px;

    display: flex;
}

nav li:first-child {
    list-style-type: none;
}

.link-active {
    text-decoration: none;
}

.main {
    height: 757px;
    width: 1100px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.hero-title-line {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;

    color: white;
    display: block;
}

.hero-title-first {
    padding-top: 165px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.hero-title-second {
    padding-left: 380.5px;
    margin-bottom: 20px;
}

.hero-title-third {
    padding-left: 663px;
    margin-bottom: 106px;
}

.hero-subtitle {
    line-height: 28px;
    font-size: 22px;
    word-spacing: 20px;
    max-width: 100%;

    color: white;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.bid-button {
    border: 1px solid white;
    font-size: 22px;
    width: 256px;
    height: 51px;

    text-transform: uppercase;
    background-color: transparent;
    color: white;
}

.hero-footer {
    margin-left: 50px;
    width: 1000px;
    height: 51px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;

    position: absolute;
}

.section-heading {
    padding-top: 180px;
    padding-bottom: 27px;
    padding-left: 67px;
    font-size: 40px;
    font-weight: 700;

    color: #000;
    text-transform: uppercase;
}

.lots-grid {
    gap: 25px;
    margin: 0 auto 0 20px;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
}

.lot-item {
    max-width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.lot-card {
    height: 100%;
    z-index: 1;
    padding: 51px 40px 48px;

    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lot-card-1 {
    background-image: url(./../images/card-lot-01.jpg);
}

.lot-card-2 {
    background-image: url(./../images/card-lot-02.jpg);
}

.lot-card-3 {
    background-image: url(./../images/card-lot-03.jpg);
}

.lot-card-heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;

    color: white;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lot-card-description {
    font-size: 20px;
    font-weight: 400;

    color: white;
    font-style: normal;
}

.more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 64px;
    text-underline-offset: 3px;
    padding-top: 30px;

    display: block;
    color: black;
}

.info-section {
    margin-top: 125px;
}

.info-wrapper {
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 25px;
    padding: 34px 24px 0;

    display: grid;
}

.logo-container {
    border-radius: 50%;
    width: 240px;
    height: 240px;

    justify-self: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-white {
    width: 148px;
    height: 114px;
}

.info-content {
    gap: 24px;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
}

.info-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;

    color: black;
}

.info-text-block {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    align-self: flex-start;
}

.info-paragraph-first {
    padding-top: 76px;
}

.info-paragraph-second {
    padding-top: 25px;
}

.footer {
    grid-template-columns: auto 1fr auto;
    padding: 180px 50px 88px;
    gap: 140px;

    display: grid;
    align-items: flex-start;
}

.footer-contacts {
    text-decoration: none;
    font-style: normal;
    list-style-type: none;
}

.footer-navigation {
    padding-left: 35px;

    display: flex;
}

.footer-nav-list {
    text-underline-offset: 3px;

    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-link {
    font-size: 18px;
    font-weight: 400;

    color: black;
    text-align: center;
    line-height: normal;
}

.footer-nav-main {
    text-decoration: none;
}

.social-icon {
    width: 48px;
    height: 48px;
}

.social-links {
    gap: 48px;

    display: flex;
}